body {
	margin: 0;
	padding: 0;
/*padding-top: 8px;*/
	background-color: black;
	/*text-align: center;
	*/
	 --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
     );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

#centered {
	width: 1400px;
	text-align:center;
	border: 0px;
	padding: 0;
	margin: 0 auto;
}

/*.header {
	height: 50px;
	color: #f9f3e9;
	background: white;
	text-align:center;
	vertical-align:middle;
}*/

.sub-heading {
	color: white;
	font-weight: bold;
	font-family: "Helvetica";
	font-size:30px;
}

.label_title {
	color: white;
	font-family: "Helvetica";
	text-align: center; 
	vertical-align: middle; 
	margin-bottom: 15px; 
	margin-top: 15px;
}

.leftbar {
	float: left;
	height: 650px;
	width: 200px;
	background: #9cdaeb;
	border: 2px solid white;
	margin-top: 50px;
}

.nav_ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: white;
  	
}


.big-par {
	font-family:"Helvetica";
	color: white;
	font-size: 65px;
	float: left;
}

.info-par {
	font-family:"Helvetica";
	color:white;
	font-size: 16px;
}

.nav-companyName {
	float:left;
	font-size:20px;
	font-family: "Helvetica";
  	text-decoration:none;
	align-self:center;
	padding:8px;
	color:black;
}

.navLi {
	float:right;
	padding:8px;
	font-size: 20px;
	color:black;
	font-family: "Helvetica";
	text-decoration:none;
}

.navLi a {
	color:black;
	display:block;
	text-decoration:none;
	
}

.search-bar {
		
	float: left;
	font-size:20px;
	font-family: "Helvetica";
	align-self: center;
	padding: 8px;
	
}

#text {
	width: 800px;
}

.navLi a:hover {
	opacity:70%
}



.main-menu-list {
	list-style-type: none;
	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: white;
  	border:1px solid lightgray;
	
}

.main-menu-list-link {
	float:left;
	padding:8px;
	font-size: 14px;
	font-family: "Helvetica";
	text-decoration:none;
}

.main-menu-list-link a {
	color:black;
	display: block;
	text-decoration: none;
}

.main-menu-list-link a:hover {
	opacity:50%;
}


/* .search {
	
} */

.inventory_table_div {
	align-items: center;
	/* border: 1px solid white; */
	width:100%;

}

table {
	/* border-spacing: 1.5px; */
	align-self: center;
	width: 100%;
	background-color: black;
	color:white;
	font-family: "Helvetica";
	
}

table thead tr {
	font-size: 20px;
	color: white
}

table thead tr th {
	margin: 0px;
	padding: 2px;
	background-color: #ffb366;
}

table thead tr {
	font-family: "Helvetica";
	color: white;
	font-size: 18px;
	background-color: black;
}

table td img {
    max-width: 100%; /* Ensure images don't exceed the width of their container */
    display: block; /* Ensure each image is on a new line */
    width: 100%; /* Set the width to fill the container */
    height: auto; /* Maintain the aspect ratio */
}


table tr.classEven {
	background-color: #ffd9b3;
}

table tr td,th {
	padding: 2px;
}


.grid {
	margin-left:5%;
	display: grid;
  	grid-template-columns: repeat(4, minmax(20%, auto));
  	max-width: var(--max-width);
  	max-width: 90%;
  	margin-top:5%;
  	padding: 10px;
  	gap: 5px;
  	
}

.card{
	
	height:420px;
  	/* background: rgb(60,60,60); */
  	
  	transition: background 200ms, border 200ms;
}

.prodIm {
	height:70%;
	width:80%;
	border:1px solid white;
	
}

.featured-add-button {

	margin-top: 10px;
	width:80%;
	background-color:white;
	font-family:"Helvetica";
	font-size:16px;
	border:1px solid white;
	float:left;
	
}

.featured-add-button:hover {
	background-color:black;
	color:white;	
	
}

.header-featured {
	font-family:"Helvetica";
	font-size: 30px;
	height:auto;
	padding:0;
	color:white;
	float:left;

}

.info-featured {
	font-family:"Helvetica";
	font-size:14px;
	color:darkgrey;
	float:left;
	width: 80%;
	text-align:left;
}

.classEven {
	background-color: #ffd9b3;
}


span.tooltip_message,span.tooltip_img1 {
	cursor: pointer;
	display: inline-block;
	background-color: #F20B26;
	width: 16px;
	height: 18px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	position: relative;
}

span.tooltip_message:hover {
	background-color: #04FF97;
}

div.message {
	background-color: #04FF97;
	color: #000000;
	position: absolute;
	left: 18px;
	top: -18px;
	z-index: 1000000;
	text-align: left;
	width: 280px;
}

.footer {
	background-color:white;
	font-family:"Helvetica";
	font-size:16px;
}

.footer-ul {
	
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
	
}
